* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        min-height: 100vh;
        margin: auto;
        border-radius: 1rem;
        padding-top: 1.5rem;
    }
    .container-button {
        max-width: 992px;
        margin-top: 1rem;
    }
    .expanded {
        max-width: 992px;
    }
    .pokemons {
        justify-items: center
    }
    .pokemonImag img {
        min-width: 450px;
    }
}